.change-calculator {
    width: 100%;

    .error {
        color: red;
        font-size: 0.8em;
    }

    input {
        border: 1px solid #333;
        width: 100%;
        padding: 12px;
        margin: 8px 0;
    }

    ul.change-calculator-output {
        margin: 0;
        padding: 3px;
        min-height: 43px;
        background: #333;
        overflow: hidden;

        li {
            list-style: none;
            float: left;

            padding: 6px;
            margin: 5px;

            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }
    }
}